{% extends 'CtJobeetBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/ctjobeet/css/jobs.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<div id="jobs">
		<div class="jobs">
			{% for category in categories %}
				<div>
					<div class="category">
						<div class="feed">
							<a href="">Feed</a>
						</div>
						<h1><a href="{{ path('CtJobeetBundle_category', {'slug': category.slug}) }}">{{ category.name }}</a> </h1>
					</div>
					{{ include('CtJobeetBundle:Job:_jobs.html.twig', { 'jobs': category.activeJobs }) }}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}